---
layout: archive
title: "Conferences & Seminars"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}
<h2 style="color:#736AFF;">Northeastern Topology Seminar</h2>
<p>I’m co-organizing “Northeastern topology seminar” (“东北拓扑系列活动”) which meets on Tuesdays at 2 pm (unless informed otherwise). The seminar is held in hybrid mode. If you are interested in participarting the seminar or giving a talk, please shoot me an email. The ads of the past talks can be found on http://cos.neu.edu.cn/ (under the section “学术交流”).
The other co-organizers are: 陈亮 （东北师大），鄂强（大连海事），李风玲 （大连理工），钟立楠（延边大学）</p>



<h2 style="color:#C0C0C0;">Workshop on Interactions of 3- & 4-dimensional Topology (past)</h2>
I co-organized with <a href="https://ymsc.tsinghua.edu.cn/info/1032/2335.htm">Jianfeng Lin</a> and <a href="https://bicmr.pku.edu.cn/cn/content/lists/11_catid74_zc14.html">Yi Xie</a> an online workshop on Interactions of 3- & 4-dimensional Topology during March 10-12, 2023. For recordings, please visit <a href="https://homeomorphy.github.io/2023-4D-topology-workshop/">https://homeomorphy.github.io/2023-4D-topology-workshop/</a>.




{% for post in site.portfolio %}
 {% include archive-single.html %}
{% endfor %}

